#spinner-container {
  margin: 60px 0;
}

#header-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#info-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#ability-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

#moves-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#image-container {
  display: flex;
  align-items: center;
}

#types-container {
  display: flex;
  align-items: center;
  margin-left: 32px;
}

.divider-line {
  border: 1px solid var(--black);
  width: 100%;
  margin: 8px;
}

pokemon-type {
  margin: 8px 0;
}

h1 {
  margin: 0;
}

p {
  margin: 8px 16px;
}

img {
  height: 150px;
  width: 150px;
}

section {
  width: 70vw;
}
